body {
    font-family: 'Ubuntu';
}

#title {
    background-color: brown;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: #000;
}

h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-size: 1.4rem;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}


.navbar-brand {
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
} 

.nav-link {
    font-size: 1.2rem;
}

/* download button */

.download-btn {
    margin: 5% 3% 5% 0%;
}

/* title image */

.title-img {
    width: 60%;
    transform: rotate(25deg);
    margin: 0 0 0 10%;
}

/* feature section */

#features {
    padding: 7% 15%;
}

.features-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: brown;
    margin-bottom: 1rem;
}

.icon:hover {
    color: red;
}

/* testimonial icon */

#testimonials {
    text-align: center;
    background-color: brown;
    color: white;
}

.carousel-item {
    padding: 7% 20%;
}

.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: brown;
    text-align: center;
    padding-bottom: 3%; 
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

/* pricing */

#pricing {
    padding: 100px;
    text-align: center;
}


.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */

#cta {
    background-color: brown;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

/* footer */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    .title-img {
        width: 50%;
        transform: rotate(0);
    }
}


